///*********************************************************
/// EVENTS
///*********************************************************

.btn.click {
  border-width: 8px !important;
  font-weight: bold !important;
  text-decoration: underline !important;
  background-color: Gold !important;
}
